.card {
  width: 65%;
  margin: 0 auto;
.card-footer {
    padding: .5rem;
    border-top-width: 0;
    background-color: transparent;
  }
  .card-block {
    padding-bottom: .5rem;
  }
}

h2 {
  margin-bottom: 0;
}

