@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700');
//colors
$dark-blue: #213159;
$med-blue: #3d6098;
$med-red: #f04b4c;
$lt-gray: #e7e7e7;
$deep-gray: #777;

//fonts
$fancy: 'Montserrat Subrayada', sans-serif;