.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15.5rem);
  grid-gap: 1rem; /* (3) */
  justify-content: space-between; /* (4) */
  align-content: flex-start; /* (5) */
  padding-bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1203px) {
  .container {
    grid-template-columns: repeat(auto-fill, 31%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fill, 48%);
  }
}