@import './../../../assets/scss/globalvars';

h3 a {
  cursor: pointer;
}

.card-img-top {
    width:100%; /* you can use % */
    height: auto;
}

.card-footer {
  border-top-width: 0;
  background-color: transparent;
  padding: 5px;

}

.fa-mars {
  color: $med-blue;
}

.fa-venus {
  color: #ff5490;
}